<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Magasin Informatique</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="accueil">

    <div class="overlay">

        <div class="hero-box">

            <h1 class="hero-title">
                💻 Magasin Informatique
            </h1>

            <p class="hero-text">
                Vente de matériel informatique,
                accessoires et équipements professionnels
            </p>

            <a href="/login" class="hero-btn">
                Se connecter
            </a>

        </div>

    </div>

</body>

</html>