<!DOCTYPE html>
<html>

<head>
    <title>Espace Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h2>Catalogue Produits</h2>

    <a href="/logout">
        Déconnexion
    </a>

    <br><br>

    <a href="/panier/{{ id_client }}">
        Voir mon panier
    </a>

    <br><br>

    <table border="1">

        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>

        {% for produit in produits %}

        <tr>

            <td>{{ produit.nom }}</td>
            <td>{{ produit.prix }} €</td>
            <td>{{ produit.stock }}</td>

            <td>

                <a href="/ajouter_panier/{{ id_client }}/{{ produit.id }}">
                    Ajouter au panier
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>