<!DOCTYPE html>
<html>

<head>
    <title>Catalogue Produits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="header-client">

        <h2>💻 Magasin Informatique</h2>

        <p class="welcome">
            Bienvenue dans votre espace client
        </p>

        <div class="navbar">

            <a href="/client/{{ id_client }}">
                Catalogue
            </a>

            <a href="/panier/{{ id_client }}">
                Panier
            </a>

            <a href="/historique/{{ id_client }}">
                Historique
            </a>

            <a href="/">
                Déconnexion
            </a>

        </div>

    </div>

    <table>

        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>

        {% for produit in produits %}

        <tr>

            <td>{{ produit.nom }}</td>
            <td>{{ produit.prix }} €</td>
            <td>{{ produit.stock }}</td>

            <td>

                {% if produit.stock > 0 %}

                <a href="/ajouter_panier/{{ id_client }}/{{ produit.id }}"
                   class="btn-commander">
                    Ajouter au panier
                </a>

                {% else %}

                <span style="color:red;font-weight:bold;">
                    Rupture de stock
                </span>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>