<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Liste des produits</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix (€)</th>
            <th>Stock</th>
        </tr>

        {% for produit in produits %}

        <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.description }}</td>
            <td>{{ produit.prix }}</td>
            <td>{{ produit.stock }}</td>
        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/admin">
        Retour Administration
    </a>

</div>

</body>
</html>